body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img,
iframe,
small,
select {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button {
  overflow: visible;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio],
input[type=file] {
  opacity: 1;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.loader-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000066;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #ffffff;
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  animation: load3 1.4s infinite linear;
  transform: translateZ(0);
}

.loader:before {
  width: 0%;
  height: 0%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loader:after {
  background: #000066;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes load3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-visual {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)), linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;
  padding: 20px;
}
.main-visual .main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  width: 1015px;
  height: 305px;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title {
    width: 90%;
    height: auto;
  }
}
.main-visual .main-title-top {
  margin-bottom: -20px;
  font-size: 80px;
  font-family: "Prata", serif;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-top {
    margin-bottom: 0;
    font-size: 60px;
  }
}
.main-visual .main-title-center {
  font-size: 140px;
  font-family: "Prosto One", sans-serif;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-center {
    font-size: 100px;
    line-height: 90px;
  }
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-center .br {
    display: block;
  }
}
.main-visual .main-title-bottom {
  width: 163px;
  height: auto;
  margin: 0 auto;
  padding: 18px 56px;
  text-align: center;
  border-radius: 100px;
  border: 1px solid #000000;
  background: #fff;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-bottom {
    width: 143px;
    margin: 10px auto 0;
    padding: 10px 0;
  }
}
.main-visual .main-title-bottom p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main-visual .main-title-right {
  position: absolute;
  top: 10%;
  right: 3%;
  width: 120px;
  height: 120px;
  font-size: 14px;
  animation: 8s linear infinite rotation;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-right {
    top: 10%;
    right: 0;
    width: 80px;
    height: 80px;
  }
}
.main-visual .main-title-right svg {
  overflow: visible;
}
.main-visual .main-title-right path {
  fill: none;
}
.main-visual .main-title-right text {
  fill: #000000;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-right text {
    fill: #fff;
  }
}
.main-visual .main-title-right text textPath {
  mix-blend-mode: exclusion;
  fill: #fff;
}
@media only screen and (max-width: 480px) {
  .main-visual .main-title-right text textPath {
    fill: #000;
  }
}
.main-visual-scroll {
  position: absolute;
  bottom: 40px;
  right: 40px;
}
@media only screen and (max-width: 480px) {
  .main-visual-scroll {
    bottom: 20px;
    right: 0;
  }
}
.main-visual-scroll p {
  font-family: Noto Sans;
  font-size: 8px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.6px;
  padding-bottom: 10px;
  transform: rotate(90deg);
  transform-origin: bottom left;
}
.main-visual-scroll svg {
  animation-name: huwahuwa;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

@keyframes huwahuwa {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-content {
  position: relative;
  top: 100vh;
  z-index: 10;
  border-top: 1px solid #000000;
  background: #fff;
}
.main-content .main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #fff;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 480px) {
  .main-content .main-nav {
    padding: 20px;
    align-items: center;
  }
}
.main-content .main-nav .site-name {
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.main-content .main-nav .site-menu {
  display: flex;
  align-content: space-between;
}
.main-content .main-nav .site-menu-li {
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.main-content .main-nav .site-menu-li:nth-of-type(1) {
  margin-right: 40px;
}
@media only screen and (max-width: 480px) {
  .main-content .main-nav .site-menu-li:nth-of-type(1) {
    margin-right: 20px;
  }
}
.main-content .sec {
  padding-top: 140px;
  padding-bottom: 140px;
}
@media only screen and (max-width: 480px) {
  .main-content .sec {
    padding-top: 120px;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.main-content .sec-top {
  max-width: 1200px;
  margin: 0 auto;
}
.main-content .sec-top-txt {
  margin-top: 80px;
}
.main-content .sec-top-txt p {
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-top-txt p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
  }
}
.main-content .sec-top-txt p:nth-of-type(2) {
  margin-top: 60px;
}
.main-content .sec-ttl {
  font-family: "Noto Sans", sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-ttl {
    font-size: 50px;
  }
}
.main-content .sec-about {
  max-width: 1200px;
  margin: 0 auto;
}
.main-content .sec-about-content {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: 80px auto 0;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-about-content {
    display: block;
    margin-top: 40px;
  }
}
.main-content .sec-about-img {
  height: 380px;
  margin-right: 94px;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-about-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.main-content .sec-about-img img {
  height: 100%;
  width: auto;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-about-img img {
    width: 100%;
  }
}
.main-content .sec-about-txt {
  width: 600px;
  font-family: Noto Sans;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-about-txt {
    width: 100%;
    margin: 20px auto 0;
  }
}
.main-content .sec-about-txt-name {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}
.main-content .sec-about-txt-detail {
  margin-top: 40px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.92px;
  word-break: break-word;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-about-txt-detail {
    margin-top: 20px;
  }
}
.main-content .sec-about .btn {
  position: relative;
  display: block;
  width: 200px;
  height: 52px;
  margin: 40px 0 0 auto;
  border-radius: 70px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
.main-content .sec-about .btn:hover {
  background: #000;
  color: #fff;
  transition: all 0.4s;
}
.main-content .sec-work {
  max-width: 100%;
  background-color: #eee;
  margin: 0;
  padding-left: 180px;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-work {
    padding-left: 40px;
    padding-right: 0;
  }
}
.main-content .sec-work-cate {
  position: absolute;
  top: 40px;
  left: -40px;
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2rem;
  display: inline-block;
  writing-mode: vertical-rl;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-work-cate {
    left: -32px;
  }
}
.main-content .sec-work-content {
  position: relative;
  margin: 80px 0;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 480px) {
  .main-content .sec-work-content {
    margin: 40px 0;
  }
}
.main-content .sec-work-slider {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.main-content .sec-work-slider-item {
  display: flex;
  padding: 40px 80px 80px 0;
}
.main-content .sec-work-slider-item-li {
  margin: 0 40px;
}
.main-content .sec-work-slider-item-li:nth-of-type(1) {
  margin-left: 0;
}
.main-content .sec-work-slider-item-li-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 240px;
  margin: 0 auto;
  overflow: hidden;
}
.main-content .sec-work-slider-item-li-img img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.6s ease;
}
.main-content .sec-work-slider-item-li-img:hover img {
  transform: scale(1.2, 1.2);
}
.main-content .sec-work-slider-item-li-detail {
  width: 360px;
}
.main-content .sec-work-slider-item-li-detail-ttl {
  margin-top: 20px;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-content .sec-work-slider-item-li-detail-txt {
  margin-top: 10px;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.site-footer {
  display: block;
  width: 100%;
  height: auto;
  padding: 80px 40px 40px;
  background: #000;
}
@media only screen and (max-width: 480px) {
  .site-footer {
    padding: 40px 20px;
  }
}
.site-footer-menu {
  color: #fff;
}
.site-footer-menu-li {
  margin-top: 10px;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.site-footer-menu-li:nth-of-type(1) {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.site-footer-copy {
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  text-align: right;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}
.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-content-item {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 25px;
}
.modal-content-item-li {
  position: relative;
  z-index: 200;
  display: inline-block;
  width: 80vw;
  height: 80vh;
  background: #fff;
  padding: 40px;
  box-sizing: border-box;
  overflow-y: scroll;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li {
    width: 100%;
    padding: 80px 20px 20px;
  }
}
.modal-content-item-li-inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li-inner {
    display: block;
    overflow-x: hidden;
    height: auto;
  }
}
.modal-content-item-li-img {
  width: 55%;
  margin: 20px 0;
  height: 100%;
  overflow-y: scroll;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li-img {
    width: 100%;
    overflow-y: hidden;
  }
}
.modal-content-item-li-img img {
  width: 100%;
  margin: 20px auto;
}
.modal-content-item-li-iframe {
  width: 55%;
  margin-right: 20px;
  height: 100%;
  overflow-y: scroll;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li-iframe {
    width: 100%;
    margin: 0 auto;
  }
}
.modal-content-item-li-iframe iframe {
  margin: 20px 0;
}
.modal-content-item-li-text {
  position: absolute;
  right: 20px;
  bottom: 40px;
  width: 40%;
  line-height: 1.8;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li-text {
    position: static;
    width: 100%;
    margin-top: 40px;
  }
}
.modal-content-item-li-text-ttl {
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.modal-content-item-li-text-detail {
  font-family: Noto Sans;
  padding-top: 40px;
  font-size: 16px;
  text-align: left;
}
.modal-content-item-li .modal-close {
  position: fixed;
  top: 11.5%;
  right: 11%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #000;
  color: #000;
  background: #fff;
}
@media only screen and (max-width: 480px) {
  .modal-content-item-li .modal-close {
    top: 11.5%;
    right: 9.5%;
  }
}
.modal-content-item-li .modal-close:hover {
  background: #000;
  color: #fff;
  transition: all 0.4s;
}

.about-content {
  background: #fff;
}
.about-content .main-nav {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  background: #fff;
  border-bottom: 1px solid #000;
}
@media only screen and (max-width: 480px) {
  .about-content .main-nav {
    padding: 20px;
    align-items: center;
  }
}
.about-content .main-nav .site-name {
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.about-content .main-nav .site-menu {
  font-family: Noto Sans;
  display: flex;
  align-content: space-between;
}
.about-content .main-nav .site-menu-li {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.about-content .main-nav .site-menu-li:nth-of-type(1) {
  margin-right: 40px;
}
@media only screen and (max-width: 480px) {
  .about-content .main-nav .site-menu-li:nth-of-type(1) {
    margin-right: 20px;
  }
}
.about-content .sec {
  padding-top: 140px;
  padding-bottom: 140px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec {
    padding-top: 120px;
    padding-bottom: 140px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.about-content .sec-top {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content .sec-top-txt {
  margin-top: 80px;
  font-family: Noto Sans;
}
.about-content .sec-top-txt p {
  font-family: Noto Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-top-txt p {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
  }
}
.about-content .sec-top-txt p:nth-of-type(2) {
  margin-top: 60px;
}
.about-content .sec-ttl {
  font-family: Noto Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-ttl {
    font-size: 50px;
  }
}
.about-content .sec-about {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content .sec-about-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 80px auto 0;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-about-content {
    display: block;
    margin-top: 40px;
  }
}
.about-content .sec-about-img {
  height: 380px;
  margin-right: 94px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-about-img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}
.about-content .sec-about-img img {
  height: 100%;
  width: auto;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-about-img img {
    width: 100%;
  }
}
.about-content .sec-about-txt {
  width: 600px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-about-txt {
    width: 100%;
    margin: 20px auto 0;
  }
}
.about-content .sec-about-txt-name {
  font-size: 18px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
}
.about-content .sec-about-txt-detail {
  margin-top: 40px;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1.92px;
  word-break: break-word;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-about-txt-detail {
    margin-top: 20px;
  }
}
.about-content .sec-about .btn {
  position: relative;
  display: block;
  width: 200px;
  height: 52px;
  margin: 40px 0 0 auto;
  border-radius: 70px;
  border: 1px solid #000;
  background: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1.28px;
  text-transform: uppercase;
}
.about-content .sec-about .btn:hover {
  background: #000;
  color: #fff;
  transition: all 0.4s;
}
.about-content .sec-career {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content .sec-career-content {
  width: 100%;
  margin: 80px auto 0;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content {
    margin-top: 40px;
  }
}
.about-content .sec-career-content-item-li {
  display: flex;
  align-items: flex-start;
  margin-top: -10px;
}
.about-content .sec-career-content-item-li-date {
  width: 200px;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.12px;
  text-align: end;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-date {
    width: 24%;
  }
}
.about-content .sec-career-content-item-li-scale {
  padding: 0 20px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-scale {
    padding: 0 10px;
  }
}
.about-content .sec-career-content-item-li-scale svg:nth-of-type(1) {
  display: block;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-scale svg:nth-of-type(1) {
    display: none;
  }
}
.about-content .sec-career-content-item-li-scale svg:nth-of-type(2) {
  display: none;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-scale svg:nth-of-type(2) {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-detail {
    width: 70%;
  }
}
.about-content .sec-career-content-item-li-detail-name {
  font-family: Noto Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 1.92px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-detail-name {
    font-size: 18px;
  }
}
.about-content .sec-career-content-item-li-detail-txt {
  font-family: Noto Sans;
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 1.28px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-career-content-item-li-detail-txt {
    font-size: 16px;
  }
}
.about-content .sec-stren {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content .sec-stren-content {
  width: 100%;
  margin: 80px auto 0;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-stren-content {
    margin-top: 40px;
  }
}
.about-content .sec-stren-content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-stren-content-item {
    display: block;
  }
}
.about-content .sec-stren-content-item-li {
  width: 320px;
  margin-right: 40px;
}
.about-content .sec-stren-content-item-li:nth-of-type(3) {
  margin-right: 0;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-stren-content-item-li {
    width: 100%;
    margin: 0 auto;
  }
}
.about-content .sec-stren-content-item-li-img {
  width: 320px;
  height: 300px;
  margin: 0 auto;
  background: #eee;
}
.about-content .sec-stren-content-item-li-img img {
  width: 100%;
}
.about-content .sec-stren-content-item-li-h2 {
  margin-top: 20px;
  font-size: 18px;
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.44px;
  text-align: center;
}
.about-content .sec-stren-content-item-li-txt {
  margin-top: 20px;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.28px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-stren-content-item-li-txt {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}
.about-content .sec-can {
  max-width: 1200px;
  margin: 0 auto;
}
.about-content .sec-can-content {
  width: 100%;
  margin: 80px auto 0;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content {
    margin: 40px auto 0;
  }
}
.about-content .sec-can-content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content-item {
    display: block;
  }
}
.about-content .sec-can-content-item-li {
  width: 320px;
  margin-right: 40px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content-item-li {
    margin: 0 auto;
  }
}
.about-content .sec-can-content-item-li:nth-of-type(3) {
  margin-right: 0;
}
.about-content .sec-can-content-item-li-img {
  width: 320px;
  height: 300px;
  margin: 0 auto;
}
.about-content .sec-can-content-item-li-img img {
  width: 100%;
}
.about-content .sec-can-content-item-li-h2 {
  margin-top: 20px;
  color: #000;
  text-align: center;
  font-family: Noto Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2.16px;
}
.about-content .sec-can-content-item-li-txt {
  margin-top: 10px;
  color: #000;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.92px;
  text-align: center;
}
.about-content .sec-can-content-item-li-tool {
  color: #ccc;
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.92px;
  text-align: center;
}
.about-content .sec-can-content-skill {
  margin-top: 80px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content-skill {
    width: 90%;
    margin: 80px auto 0;
  }
}
.about-content .sec-can-content-skill-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content-skill-item {
    display: block;
  }
}
.about-content .sec-can-content-skill-item-li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.about-content .sec-can-content-skill-item-li-icon {
  margin-right: 10px;
}
.about-content .sec-can-content-skill-item-li-meter {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 5px;
  background: #fff;
  border: 1px solid #000;
  border-radius: 100px;
}
@media only screen and (max-width: 480px) {
  .about-content .sec-can-content-skill-item-li-meter {
    width: 90%;
    margin: 0 auto;
  }
}
.about-content .sec-can-content-skill-item-li-meter span {
  position: absolute;
  display: inline-block;
  content: "";
  height: 4px;
  background: #000;
}
.about-content .sec-can-content-skill-item-li-meter-ps span {
  width: 80%;
}
.about-content .sec-can-content-skill-item-li-meter-ai span {
  width: 70%;
}
.about-content .sec-can-content-skill-item-li-meter-xd span {
  width: 70%;
}
.about-content .sec-can-content-skill-item-li-meter-ae span {
  width: 70%;
}
.about-content .sec-can-content-skill-item-li-meter-pr span {
  width: 50%;
}
.about-content .sec-can-content-skill-item-li-meter-fig span {
  width: 40%;
}
.about-content .sec-can-content-skill-item-li-meter-bl span {
  width: 30%;
}
.about-content .sec-can-content-skill-item-li-meter-vs span {
  width: 70%;
}/*# sourceMappingURL=main.css.map */