// _mixins.scss

// ボーダーラジウスを指定した要素に適用するミックスイン
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// ボックスシャドウを指定した要素に適用するミックスイン
@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
}

// テキストを水平中央寄せにするミックスイン
@mixin text-center {
  text-align: center;
}

// テキストを垂直中央寄せにするミックスイン
@mixin vertical-align-center {
  display: flex;
  align-items: center;
}

// テキストを非表示にするミックスイン
@mixin hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// フォントサイズと行の高さを指定するミックスイン
@mixin font-size-line-height($font-size, $line-height) {
  font-size: $font-size;
  line-height: $line-height;
}



// レスポンシブなマージンのMixin
@mixin responsive-margin($desktop, $tablet, $mobile) {
  margin: $desktop;

  @media only screen and (max-width: 768px) {
    margin: $tablet;
  }

  @media only screen and (max-width: 480px) {
    margin: $mobile;
  }
}

// レスポンシブなパディングのMixin
@mixin responsive-padding($desktop, $tablet, $mobile) {
  padding: $desktop;

  @media only screen and (max-width: 768px) {
    padding: $tablet;
  }

  @media only screen and (max-width: 480px) {
    padding: $mobile;
  }
}
