// パーシャルファイルのインポート
@import "../partials/reset";
@import "../partials/variables";
@import "../partials/mixins";

body {
  width: 100%;
  overflow-x: hidden;
}

// ローディング  //
.loader-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000066;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 0%;
  height: 0%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #000066;
  width: 85%;
  height: 85%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// メインビジュアル  //

.main-visual {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
  // 方眼背景  //
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
  background-size: 16px 16px;
  background-repeat: repeat;
  background-position: center center;

  padding: 20px;

  .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    width: 1015px;
    height: 305px;
    margin: 0 auto;
    @media only screen and (max-width: 480px) {
      width: 90%;
      height: auto;
    }

    &-top {
      margin-bottom: -20px;
      font-size: 80px;
      font-family: 'Prata', serif;
      @media only screen and (max-width: 480px) {
        margin-bottom: 0;
        font-size: 60px;
      }
    }

    &-center {
      font-size: 140px;
      font-family: 'Prosto One', sans-serif;
      text-transform: uppercase;

      @media only screen and (max-width: 480px) {
        font-size: 100px;
        line-height: 90px;
      }

      .br {
        @media only screen and (max-width: 480px) {
          display: block;
        }
      }
    }

    &-bottom {
      width: 163px;
      height: auto;
      margin: 0 auto;
      padding: 18px 56px;
      text-align: center;
      border-radius: 100px;
      border: 1px solid #000000;
      background: #fff;
      @media only screen and (max-width: 480px) {
        width: 143px;
        margin: 10px auto 0;
        padding: 10px 0;
      }

      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
    }

    &-right {
      position: absolute;
      top: 10%;
      right: 3%;
      width: 120px;
      height: 120px;
      font-size: 14px;
      animation: 8s linear infinite rotation;
      @media only screen and (max-width: 480px) {
        top: 10%;
        right: 0;
        width: 80px;
        height: 80px;
      }

      svg {
        overflow: visible;
      }

      path {
        fill: none;
      }

      text {
        fill: #000000;
        @media only screen and (max-width: 480px) {
          fill: #fff;
        }

        textPath {
          mix-blend-mode: exclusion;
          fill: #fff;
          @media only screen and (max-width: 480px) {
            fill: #000;
          }
        }
      }
    }
  }
  &-scroll {
    position: absolute;
    bottom: 40px;
    right: 40px;
    @media only screen and (max-width: 480px) {
      bottom: 20px;
      right: 0;
    }

    p {
      font-family: Noto Sans;
      font-size: 8px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 1.6px;
      padding-bottom: 10px;
      transform: rotate(90deg);
      transform-origin: bottom left;
    }
    svg {
      animation-name: huwahuwa;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-duration: 1.5s;
    }
  }
}

// 動き　アニメーション　　//

@keyframes huwahuwa {
  0% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 15px)
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


.main-content {
  position: relative;
  top: 100vh;
  z-index: 10;
  border-top: 1px solid #000000;
  background: #fff;

  .main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: #fff;
    border-bottom: 1px solid #000;
    @media only screen and (max-width: 480px) {
      padding: 20px;
      align-items: center;
    }

    .site-name {
      font-family: Noto Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    .site-menu {
      display: flex;
      align-content: space-between;

      &-li {
        font-family: Noto Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: uppercase;

        &:nth-of-type(1) {
          margin-right: 40px;
          @media only screen and (max-width: 480px) {
            margin-right: 20px;
          }
        }
      }
    }
  }


  .sec {
    padding-top: 140px;
    padding-bottom: 140px;
    @media only screen and (max-width: 480px) {
      padding-top: 120px;
      padding-bottom: 140px;
      padding-left: 20px;
      padding-right: 20px;
    }

    // TOP  //

    &-top {
      max-width: 1200px;
      margin: 0 auto;

      &-txt {
        margin-top: 80px;

        p {
          font-family: Noto Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px;

          @media only screen and (max-width: 480px) {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 45px;
          }


          &:nth-of-type(2) {
            margin-top: 60px;
          }
        }
      }

    }

    &-ttl {
      font-family: 'Noto Sans', sans-serif;
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.6px;
      text-transform: uppercase;
      @media only screen and (max-width: 480px) {
        font-size: 50px;
      }
    }

    // ABOUT  //

    &-about {
      max-width: 1200px;
      margin: 0 auto;

      &-content {
        display: flex;
        align-items: flex-end;
        width: 100%;
        margin: 80px auto 0;
        @media only screen and (max-width: 480px) {
          display: block;
          margin-top: 40px;
        }
      }

      &-img {
        height: 380px;
        margin-right: 94px;
        @media only screen and (max-width: 480px) {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }

        img {
          height: 100%;
          width: auto;
          @media only screen and (max-width: 480px) {
            width:  100%;
          }
        }
      }

      &-txt {
        width: 600px;
        font-family: Noto Sans;
        @media only screen and (max-width: 480px) {
          width: 100%;
          margin: 20px auto 0;
        }

        &-name {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.8px;
        }
        &-detail {
          margin-top: 40px;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 1.92px;
          word-break: break-word;
          @media only screen and (max-width: 480px) {
            margin-top: 20px;
          }
        }
      }
      .btn {
        position: relative;
        display: block;
        width: 200px;
        height: 52px;
        margin: 40px 0 0 auto;
        border-radius: 70px;
        border: 1px solid #000;
        background: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
        letter-spacing: 1.28px;
        text-transform: uppercase;

        &:hover {
          background: #000;
          color: #fff;
          transition: all .4s;
        }
      }
    }


    // WORK  //

    &-work {
      max-width: 100%;
      background-color: #eee;
      margin: 0;
      padding-left: 180px;
      @media only screen and (max-width: 480px) {
        padding-left: 40px;
        padding-right: 0;
      }

      &-cate {
        position: absolute;
        top: 40px;
        left: -40px;
        font-family: Noto Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.2rem;
        display: inline-block;
        writing-mode: vertical-rl;
        @media only screen and (max-width: 480px) {
          left: -32px;
        }
      }

      &-content {
        position: relative;
        margin: 80px 0;
        border-bottom: 1px solid #000;

        @media only screen and (max-width: 480px) {
        margin: 40px 0;
        }
      }

      &-slider {
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        &-item {
          display: flex;
          padding: 40px 80px 80px 0;

          &-li {
            margin: 0 40px;

            &:nth-of-type(1){
              margin-left: 0;
            }

            &-img {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 360px;
              height: 240px;
              margin: 0 auto;
              overflow: hidden;

              img {
                display: block;
                width: 100%;
                height: auto;
                transition: transform .6s ease;
              }

              &:hover {
                img {
                  transform: scale(1.2, 1.2);
                }
              }
            }

            &-detail {
              width: 360px;

              &-ttl {
                margin-top: 20px;
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              &-txt {
                margin-top: 10px;
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}

// フッター  //

.site-footer {
  display: block;
  width: 100%;
  height: auto;
  padding: 80px 40px 40px;
  background: #000;
  @media only screen and (max-width: 480px) {
    padding: 40px 20px;
  }

  &-menu {
    color: #fff;

    &-li {
      margin-top: 10px;
      font-family: Noto Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &:nth-of-type(1) {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      }
    }
  }
  &-copy {
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #fff;
    text-align: right;
  }
}



// モーダル  //

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;

  &-other {
    &-inner {
      justify-content: space-around;
    }
  }

  &-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 150;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &-content {
    display: table;
    width: 100%;
    height: 100%;

    &-item {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 25px;

      &-li {
        position: relative;
        z-index: 200;
        display: inline-block;
        width: 80vw;
        height: 80vh;
        background: #fff;
        padding: 40px;
        box-sizing: border-box;
        @media only screen and (max-width: 480px) {
          width: 100%;
          padding: 80px 20px 20px;
        }

        &-inner {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          overflow: scroll;
          @media only screen and (max-width: 480px) {
            display: block;
            overflow-x: hidden;
          }
        }

        &-img {
          width: 55%;
          margin-right: 20px;
          height: 100%;
          overflow-y: scroll;
          @media only screen and (max-width: 480px) {
            width: 100%;
            overflow-y: hidden;
            height: auto;
          }

          img {
            width: 100%;
            margin: 10px 0;
            &:nth-of-type(2) {
              margin-bottom: 0;
            }
          }
          iframe {
            margin: 10px 0;
            @media only screen and (max-width: 480px) {
              width: 100%;
            }
          }
        }

        &-gif {
          width: 280px;
          margin: 0 10px;

          @media only screen and (max-width: 480px) {
            width: 100%;
            margin: 20px auto;
          }

          img {
            width: 100%;;
          }
        }

        &-text {
          position: absolute;
          right: 20px;
          bottom: 40px;
          width: 40%;
          line-height: 1.8;
          @media only screen and (max-width: 480px) {
            position: static;
            width: 100%;
            margin-top: 40px;
          }

          &-ttl {
            font-family: Noto Sans;
            font-size: 20px;
            font-weight: 600;
            text-align: left;
          }

          &-detail {
            font-family: Noto Sans;
              padding-top: 40px;
            font-size: 16px;
            text-align: left;
          }
        }

        .modal-close {
          position: fixed;
          top: 11.5%;
          right: 11%;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 1px solid #000;
          color: #000;
          background: #fff;
          @media only screen and (max-width: 480px) {
            top: 11.5%;
            right: 9.5%;
          }

          &:hover {
            background: #000;
            color: #fff;
            transition: all .4s;
          }
        }
      }
    }
  }
}


// about　ページ
.about-content {
  // position: relative;
  // top: 100vh;
  // z-index: 10;
  // border-top: 1px solid #000000;
  background: #fff;

  .main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background: #fff;
    border-bottom: 1px solid #000;

    @media only screen and (max-width: 480px) {
      padding: 20px;
      align-items: center;
    }

    .site-name {
      font-family: Noto Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }

    .site-menu {
      font-family: Noto Sans;
      display: flex;
      align-content: space-between;

      &-li {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        text-transform: uppercase;

        &:nth-of-type(1) {
          margin-right: 40px;

          @media only screen and (max-width: 480px) {
            margin-right: 20px;
          }
        }
      }
    }
  }


  .sec {
    padding-top: 140px;
    padding-bottom: 140px;

    @media only screen and (max-width: 480px) {
      padding-top: 120px;
      padding-bottom: 140px;
      padding-left: 20px;
      padding-right: 20px;
    }

    // TOP  //

    &-top {
      max-width: 1200px;
      margin: 0 auto;

      &-txt {
        margin-top: 80px;
        font-family: Noto Sans;

        p {
          font-family: Noto Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px;

          @media only screen and (max-width: 480px) {
            font-size: 22px;
            font-style: normal;
            font-weight: 400;
            line-height: 45px;
          }

          &:nth-of-type(2) {
            margin-top: 60px;
          }
        }
      }

    }

    &-ttl {
      font-family: Noto Sans;
      font-size: 80px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1.6px;
      text-transform: uppercase;

      @media only screen and (max-width: 480px) {
        font-size: 50px;
      }
    }

    // ABOUTページ  //

    &-about {
      max-width: 1200px;
      margin: 0 auto;

      &-content {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 80px auto 0;

        @media only screen and (max-width: 480px) {
          display: block;
          margin-top: 40px;
        }
      }

      &-img {
        height: 380px;
        margin-right: 94px;

        @media only screen and (max-width: 480px) {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }

        img {
          height: 100%;
          width: auto;
          @media only screen and (max-width: 480px) {
            width: 100%;
          }
        }
      }

      &-txt {
        width: 600px;

        @media only screen and (max-width: 480px) {
          width: 100%;
          margin: 20px auto 0;
        }

        &-name {
          font-size: 18px;
          font-family: Noto Sans;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 1.8px;
        }

        &-detail {
          margin-top: 40px;
          font-family: Noto Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 1.92px;
          word-break: break-word;

          @media only screen and (max-width: 480px) {
            margin-top: 20px;
          }
        }
      }

      .btn {
        position: relative;
        display: block;
        width: 200px;
        height: 52px;
        margin: 40px 0 0 auto;
        border-radius: 70px;
        border: 1px solid #000;
        background: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 50px;
        text-align: center;
        letter-spacing: 1.28px;
        text-transform: uppercase;

        &:hover {
          background: #000;
          color: #fff;
          transition: all .4s;
        }
      }
    }

    // CAREER  //
    &-career {
      max-width: 1200px;
      margin: 0 auto;

      &-content {
        width: 100%;
        margin: 80px auto 0;
        @media only screen and (max-width: 480px) {
          margin-top: 40px;
        }

        &-item {

          &-li {
            display: flex;
            align-items: flex-start;
            margin-top: -10px;
            @media only screen and (max-width: 480px) {
              // margin-top: 20px;
            }

            &-date {
              width: 200px;
              font-family: Noto Sans;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 1.12px;
              text-align: end;
              @media only screen and (max-width: 480px) {
                width: 24%;
              }
            }

            &-scale {
              padding: 0 20px;
              @media only screen and (max-width: 480px) {
                padding: 0 10px;
              }

              svg {
                &:nth-of-type(1) {
                  display: block;
                  @media only screen and (max-width: 480px) {
                    display: none;
                  }
                }
                &:nth-of-type(2) {
                  display: none;
                  @media only screen and (max-width: 480px) {
                    display: block;
                  }
                }
              }
            }

            &-detail {
              @media only screen and (max-width: 480px) {
                width: 70%;
              }
              &-name {
                font-family: Noto Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 1.92px;
                @media only screen and (max-width: 480px) {
                  font-size: 18px;
                }
              }
              &-txt {
                font-family: Noto Sans;
                margin-top: 20px;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 1.28px;
                @media only screen and (max-width: 480px) {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }

    // STRENGTH  //
    &-stren {
      max-width: 1200px;
      margin: 0 auto;

      &-content {
        width: 100%;
        margin: 80px auto 0;
        @media only screen and (max-width: 480px) {
          margin-top: 40px;
        }

        &-item {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @media only screen and (max-width: 480px) {
            display: block;
          }

          &-li {
            width: 320px;
            margin-right: 40px;
            &:nth-of-type(3) {
              margin-right: 0;
            }
            @media only screen and (max-width: 480px) {
              width: 100%;
              margin: 0 auto;
            }

            &-img {
              width: 320px;
              height: 300px;
              margin: 0 auto;
              background: #eee;
              img {
                width: 100%;
              }
            }

            &-h2 {
              margin-top: 20px;
              font-size: 18px;
              font-family: Noto Sans;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              letter-spacing: 1.44px;
              text-align: center;
            }

            &-txt {
              margin-top: 20px;
              font-family: Noto Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              letter-spacing: 1.28px;
              @media only screen and (max-width: 480px) {
                width: 90%;
                margin-right: auto;
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    //  CAN DO  //
    &-can {
      max-width: 1200px;
      margin: 0 auto;

      &-content {
        width: 100%;
        margin: 80px auto 0;
        @media only screen and (max-width: 480px) {
          margin: 40px auto 0;
        }

        &-item {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @media only screen and (max-width: 480px) {
            display: block;
          }

          &-li {
            width: 320px;
            margin-right: 40px;
            @media only screen and (max-width: 480px) {
              margin: 0 auto;
            }

            &:nth-of-type(3) {
              margin-right: 0;
            }

            &-img {
              width: 320px;
              height: 300px;
              margin: 0 auto;

              img {
                width: 100%;
              }
            }

            &-h2 {
              margin-top: 20px;
              color: #000;
              text-align: center;
              font-family: Noto Sans;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 2.16px;
            }

            &-txt {
              margin-top: 10px;
              color: #000;
              font-family: Noto Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 26px;
              letter-spacing: 1.92px;
              text-align: center;
            }
            &-tool {
              color: #ccc;
              font-family: Noto Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 30px;
              letter-spacing: 1.92px;
              text-align: center;
            }
          }
        }
        &-skill {
          margin-top: 80px;
          @media only screen and (max-width: 480px) {
            width: 90%;
            margin: 80px auto 0;
          }

          &-item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media only screen and (max-width: 480px) {
              display: block;
            }

            &-li {
              display: flex;
              align-items: center;
              margin: 20px 0;

              &-icon {
                margin-right: 10px;
              }

              &-meter {
                position: relative;
                display: inline-block;
                width: 220px;
                height: 5px;
                background: #fff;
                border: 1px solid #000;
                border-radius: 100px;
                @media only screen and (max-width: 480px) {
                  width: 90%;
                  margin: 0 auto;
                }

                span {
                  position: absolute;
                  display: inline-block;
                  content: '';
                  height: 4px;
                  background: #000;
                }

                &-ps {
                  span {
                    width: 80%;
                  }
                }

                &-ai {
                  span {
                    width: 70%;
                  }
                }
                &-xd {
                  span {
                    width: 70%;
                  }
                }
                &-ae {
                  span {
                    width: 70%;
                  }
                }
                &-pr {
                  span {
                    width: 50%;
                  }
                }
                &-fig {
                  span {
                    width: 40%;
                  }
                }
                &-bl {
                  span {
                    width: 30%;
                  }
                }
                &-vs {
                  span {
                    width: 70%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
